<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Check Page</title>
</head>
<body>
    <h1>Quiz Check Page</h1>
    {% if questions %}
        <p>{{ questions|length }} Fragen wurden erfolgreich geladen.</p>
        <h2>Geladene Fragen:</h2>
        <ol>
            {% for question in questions %}
                <li>ID: {{ question.id }}, Frage: {{ question.question_text }}</li>
            {% endfor %}
        </ol>
        
        <ol>
            {% for question in questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if errors %}
        <h2>Fehler beim Laden einiger Fragen:</h2>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Alle Fragen wurden erfolgreich geladen.</p>
    {% endif %}

    <!-- Button zur Weiterleitung -->
    <button onclick="redirectToQuiz()">Quiz Starten</button>

    <!-- JavaScript für die Weiterleitung -->
    <script>
        function redirectToQuiz() {
            window.location.href = '{% url "quiz_page" %}';
        }
    </script>
</body>
</html>
