<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Seite</title>
    <!-- CSS und JavaScript-Dateien hier einbinden -->
</head>
<body>
    <div id="quiz-container">
        {% for question in questions %}
            <div class="question">
                <h2>{{ question.question_text }}</h2>
                <!-- Logik zur Anzeige der Antwortoptionen -->
            </div>
        
        {% endfor %}
    </div>


    <!-- JavaScript-Logik -->
    <script>
        var currentQuestionIndex = 0;
        var questions = document.getElementsByClassName('question');

        function displayQuestion(index) {
            // Verberge alle Fragen
            for (var i = 0; i < questions.length; i++) {
                questions[i].style.display = 'none';
            }
            // Zeige die aktuelle Frage
            if (index >= 0 && index < questions.length) {
                questions[index].style.display = 'block';
            }
        }

        function navigateQuestion(step) {
            currentQuestionIndex += step;
            displayQuestion(currentQuestionIndex);
        }

        // Initialisiere die Anzeige mit der ersten Frage
        displayQuestion(currentQuestionIndex);
    </script>
    
    <!-- Navigationsbuttons -->
    <button onclick="navigateQuestion(-1)">Vorherige Frage</button>
    <button onclick="navigateQuestion(1)">Nächste Frage</button>
    <button onclick="window.location.href='{% url 'index' %}'">Quiz Abbrechen</button>
</body>
</html>
