/* Grundlegende Stile */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333; /* Dunkelgrauer Text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Heller Hintergrund */
}

h1, h2, h3 {
    color: #1a1a1a; /* Fast Schwarz für Überschriften */
}

button {
    background-color: #1a1a1a; /* Dunkelgrauer Button */
    color: white;
    border: none;
    border-radius: 20px; /* Abgerundete Ecken */
    padding: 15px 30px; /* Größeres Padding */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Weiche Übergänge */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Leichter Schatten */
    font-size: 16px; /* Größere Schrift */
    font-weight: bold; /* Fettschrift */
}

button:hover {
    background-color: #333; /* Leicht heller für Hover-Effekt */
    transform: translateY(-2px); /* Leichtes Anheben beim Hover */
}

/* Struktur */
.container {
    width: 90%;
    max-width: 1200px; /* Begrenzt die maximale Breite */
    margin: 40px auto;
    padding: 20px;
    text-align: center; /* Zentriert den Inhalt */
}

.header, .footer {
    background-color: #fff; /* Weißer Hintergrund für Kopf-/Fußzeile */
    color: #333;
    text-align: center;
    padding: 20px 0;
}

/* Spezifische Seitenstile */
/* Index */
.index-button {
    margin-top: 50px;
    margin-bottom: 50px; /* Anpassung für Abstand oben und unten */
}

/* Quiz */
.sortable-list {
    border: 0.05px solid #B0B0B0; /* Solider Grauer Rand für Sortierlisten */
    border-radius: 10px; /* Abgerundete Ecken für die Liste */
}

.sortable-item {
    background-color: #E0E0E0; /* Helles Grau für sortierbare Elemente */
    cursor: pointer;
    color: #333; /* Dunkelgrauer Text für bessere Lesbarkeit */
    border: 1px solid #B0B0B0; /* Grauer Rand für sortierbare Elemente */
    border-radius: 10px; /* Abgerundete Ecken für die Elemente */
    margin-bottom: 8px; /* Erhöhter Abstand */
    padding: 10px; /* Padding für Inhalt */
}

.pairs-container {
    display: flex;
    justify-content: center; /* Zentriert die Spalten */
    gap: 20px; /* Fügt Platz zwischen den Spalten hinzu */
}


/* Ergebnisse */
.results-container {
    border-radius: 10px;
    background-color: #E0E0E0; /* Helles Grau für Ergebniscontainer */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten für Tiefe */
    padding: 40px; /* Zusätzlicher Innenabstand */
    margin-top: 50px; /* Zusätzlicher Außenabstand oben */
    margin-bottom: 50px; /* Zusätzlicher Außenabstand unten */
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .pairs-container {
        flex-direction: column;
    }
}
