<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>PyMB800</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>PyMB800</h1>
        </header>

        <!-- Erhöhter Weißraum um den Button herum für ein minimalistisches Design -->
        <div style="margin-top: 50px; margin-bottom: 50px;">
            <button class="index-button" onclick="window.location.href='/start_demo'">START DEMO</button>
        </div>

        <footer class="footer">
            © 2024 PyMB800
        </footer>
    </div>

    <script>
        // Hier können JavaScript-Scripts eingefügt werden, falls benötigt
    </script>
</body>
</html>
