<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Quiz</h1>
        </header>

        <form action="/submit_answer" method="post">
            <div class="question" style="margin-top: 30px;">
                <h2>Frage {{ question_index + 1 }} von {{ total_questions }}</h2>
                <p>{{ question.question_text }}</p>

                <div class="answers" style="margin-top: 20px;">
                    <!-- Drag & Drop-Paar-Fragen -->
                    {% if question.type == 'drag_drop_pairs' %}
                        <div class="pairs-container">
                            <div class="pair-column">
                                <ul class="sortable-list" id="keys-list">
                                    {% for key, value in question["items"].items() %}
                                        <li class="sortable-item" data-key="{{ key }}">
                                            {{ key }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="pair-column">
                                <ul class="sortable-list" id="values-list">
                                    {% for key, value in question["items"].items() %}
                                        <li class="sortable-item" data-key="{{ key }}">
                                            {{ value }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" id="keys-order" name="keys-order">
                        <input type="hidden" id="values-order" name="values-order">
                    {% elif question.type == 'drag_drop_order' %}
                        <!-- Drag & Drop-Reihenfolge-Fragen -->
                        <ul class="sortable-list" id="order-list">
                            {% for key, value in question["items"].items() %}
                                <li class="sortable-item" id="item-{{ key }}">
                                    {{ value }}
                                </li>
                                <input type="hidden" name="order-list" value="{{ key }}">
                            {% endfor %}
                        </ul>
                    {% elif question.type == 'multiple_choice' %}
                        <!-- Multiple-Choice-Fragen -->
                        {% for key, value in question["items"].items() %}
                            <div class="answer-option">
                                <label>
                                    <input type="checkbox" name="answer_{{ question.id }}[]" value="{{ key }}"> {{ value }}
                                </label>
                            </div>
                        {% endfor %}
                    {% elif question.type == 'dropdown' %}
                        <!-- Dropdown-Fragen -->
                        {% for key, item in question["items"].items() %}
                            <div class="answer-option">
                                <label>{{ item.text }}</label>
                                <select name="answer_{{ question.id }}">
                                    {% for option in item.options %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="buttons" style="margin-top: 30px;">
                <button type="submit" onclick="return validateMultipleChoice()">Antworten senden</button>
            </div>
        </form>

        <div class="buttons" style="margin-top: 20px;">
            <button onclick="location.href='/change_question?direction=prev'">Vorherige Frage</button>
            <button onclick="location.href='/change_question?direction=next'">Nächste Frage</button>
            <button onclick="confirmExit()">Quiz Beenden</button>
        </div>

        <footer class="footer">
            © 2024 PyMB800
        </footer>
    </div>


    <script>
        function confirmExit() {
            if (confirm("Möchtest du das Quiz wirklich beenden?")) {
                location.href = "/end_quiz";
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            // Ihre bestehenden Funktionen

            // Funktion zum Mischen der Listen-Elemente
            function shuffleList(listId) {
                var list = document.getElementById(listId);
                for (var i = list.children.length; i >= 0; i--) {
                    list.appendChild(list.children[Math.random() * i | 0]);
                }
            }

            // Mischen der Antwortmöglichkeiten
            if (document.getElementById('keys-list')) {
                shuffleList('keys-list');
            }
            if (document.getElementById('values-list')) {
                shuffleList('values-list');
            }
            if (document.getElementById('order-list')) {
                shuffleList('order-list');
            }

            // Initialisierung der Sortable-Listen
            if (document.getElementById('keys-list') && document.getElementById('values-list')) {
                var updatePairOrder = function() {
                    var keysOrder = [];
                    var valuesOrder = [];

                    document.querySelectorAll('#keys-list .sortable-item').forEach(function (item) {
                        keysOrder.push(item.getAttribute('data-key'));
                    });
                    document.querySelectorAll('#values-list .sortable-item').forEach(function (item) {
                        valuesOrder.push(item.getAttribute('data-key'));
                    });

                    document.getElementById('keys-order').value = keysOrder.join(',');
                    document.getElementById('values-order').value = valuesOrder.join(',');
                };

                new Sortable(document.getElementById('keys-list'), {
                    group: 'pairs',
                    animation: 150,
                    onEnd: updatePairOrder
                });

                new Sortable(document.getElementById('values-list'), {
                    group: 'pairs',
                    animation: 150,
                    onEnd: updatePairOrder
                });

                updatePairOrder();
            }

            if (document.getElementById('order-list')) {
                new Sortable(document.getElementById('order-list'), {
                    group: 'shared',
                    animation: 150,
                    onUpdate: function (/**Event*/evt) {
                        var order = [];
                        document.querySelectorAll('#order-list .sortable-item').forEach(function (item) {
                            order.push(item.id.replace('item-', ''));
                        });
                        document.querySelectorAll('input[name="order-list"]').forEach(function (input, index) {
                            input.value = order[index];
                        });
                    }
                });
            }
        });
        function validateMultipleChoice() {
            const questionType = '{{ question.type }}';
             if (questionType === 'multiple_choice') {
                 let isChecked = false;
                document.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
                    if (checkbox.checked) {
                        isChecked = true;
            }
        });

                if (!isChecked) {
                    alert('Bitte wählen Sie mindestens eine Option aus.');
                    return false;
                }
            }
            return true;
        }
    </script>
</body>
</html>
